.header{
  box-shadow:0 5px 5px #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex: ;
  align-items: center;
  font-family: 'bold';
}

.main{
  font-family: 'regular';
  padding: 10px;
}

.photo{
  width: 2%;
  border: 5px solid black;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 5px;
}